@media screen and (max-width: 768px) {
    nav {
        display: none;
    }

    .container-main,
    .container-about,
    .container-skills,
    .container-education,
    .container-project,
    .container-contact {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .profile-image img {
        height: 150%;
        width: 100%;
    }

    .about-img {
        display: none;
    }

    .cv-button,
    .contact-button {
        margin: 0;
    }

    .about-main {
        margin: 0;
    }

    .wrapper {
        gap: 5px;
    }

    .project-card-title {
        font-size: 18px;
        height: 80%;
    }

    .project-card-disc {
        font-size: 14px;
        height: 80%;
    }

    .project-card-img {
        height: 250px;
    }

}

@media screen and (max-width: 1024px) {
    nav {
        padding: 5px;
    }

    span {
        width: 1ch;
    }

    .name {
        font-size: 25px;
    }

    .wrapper {
        flex-wrap: wrap;
    }

    .container-main {
        margin-top: 200px;
        margin-bottom: 200px;
        padding: 50px;
    }

    .profile-image {
        margin: 0;
    }

    .container-about,
    .container-skills,
    .container-education,
    .container-project,
    .container-contact {
        margin-top: 50px;
        margin-bottom: 150px;
        height: 100%;
    }

    .about-main {
        margin: 10px;
        width: 90%;
    }

    .about-img {
        display: none;
    }

    .card {
        height: 100%;
        width: 100%;
    }

    .project-card {
        height: 100%;
        width: 100%;
    }
}

@media screen and (max-width: 365px) {
    .profile-image img {
        height: 275px;
        width: 275px;
    }
}